.comment {
    min-width: 300px;
}

.comment-message {
    color: white;
    margin: 10px;
    padding-top: 10px;
}

.response {
    background-color: #1b1b1b;
    position: relative;
    font-size: 13px;
    font-weight: bold;
    color: #2a9fd6;
    border: 1px solid #2a9fd6;
    text-decoration: none;
    margin: 0 10px;
    bottom: 6px;
    border-radius: 15px;
    display: inline-block;
    overflow: hidden;
    outline:none;
}

.nickname {
    display: inline-block;
    overflow: hidden;
    min-width: 100px;
    margin: 0 10px;
    font-size: 1.2em;
    color: #2a9fd6;
}

.timestamp {
    margin: 0 10px;
    font-size: 13px;
    display: inline-block;
    overflow: hidden;
    min-width: 100px;
    color: #949393;
}

.comment-pre {
    white-space: pre-wrap;
    font-family: "Anonymous Pro", sans-serif;
}

.response-and-timestamp {
    display: inline-block;
    white-space: nowrap;
}

.padded {
    padding: 30px;
}

.send-button {
    width: 100%;
}