@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);

html { height: 100%; }
body {
    height: 100%;
    width: 100%;
    padding-top: 0;
    background: black;
    font-family: 'Anonymous Pro', monospace;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input, select, textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-nav > li > a {
    background: #1b1b1b;
    border: #2cc3fd solid 2px;
    display: inline-block;
    width: 100%;
    color: white;
}

.navbar-nav > li > a:hover {
    color: #2cc3fd;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #1b1b1b;
    background: #2cc3fd;
}

#top, #bottom, #left, #right {
	background: #2cc3fd;
	position: fixed;
}

#left, #right {
    top: 0; bottom: 0;
    width: 2px;
}

#top, #bottom {
    left: 0; right: 0;
	height: 2px;
}

#left { left: 0; }
#right { right: 0; }
#top { top: 0; }
#bottom { bottom: 0; }

.wrapper {
	min-height: 100%;
	margin: 0 auto -30px;
}

.footer, .push {
    padding-right: 10px;
    float: right;
	height: 20px;
    color: #2cc3fd;
}

.togg {
    padding-left: 20px;
    float: left;
    color: #2cc3fd;
    text-align: center;
    border: #2cc3fd solid 1px;
}

.typewriter {
    padding-left: 15px;
}

.tile {
    margin:10px;
    padding:10px;
    background: #1b1b1b;
}

.bord {
    border: #2cc3fd solid 1px;
}

.mail {
    float: right;
}

.img-link {
    filter: invert(100%);
    margin: auto;
}

.img-par {
    text-align: center;
}

.img-link :hover {
    opacity: 1;
}

.img-link {
    filter: alpha(opacity=100);
    opacity: 1;
}

.img-link:hover {
    filter: alpha(opacity=70);
    opacity: 0.7;
}


section {
    width: 100%;
    max-width: none;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.welcome {
    display: table;
    margin: 0 auto;
}

.welcome-text {
    font-size: 5vh;
    color: white;
}

.sect-text {
    font-size: 5vh;
    color: white;
    text-align: center;
}

.sect-img {
    height: 100%;
    overflow: hidden;
}

.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
