
.login-wrap {
    width: 100%;
    height: 100%;
}

.login-tile,
.register-tile {
    transition: transform 1s ease;
    text-align: center;
    position: fixed;
    margin: auto;
    height: 360px;
    min-height: 360px;
    width: 360px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.register-tile {
    z-index: 0;
    transform: rotateX(180deg);
}

.reg-checkbox, .login-checkbox {
    display: none;
}

.reg-label,
.login-label {
    color: #2a9fd6;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.reg-label:hover,
.login-label:hover {
    color: #2a9fd6;
    cursor: pointer;
    text-decoration: underline;
}

.reg-checkbox:checked ~ .login-tile {
    animation: fold 1s ease forwards;
}

.reg-checkbox:checked ~ .register-tile {
    animation: unfold 1s ease forwards;
}

.login-checkbox:checked ~ .login-tile {
    animation: unfold 1s ease forwards;
}

.login-checkbox:checked ~ .register-tile {
    animation: fold 1s ease forwards;
}

@keyframes fold {
    from {
        transform: rotateX(0deg);
        z-index: 10;
    }
    to {
        transform: rotateX(180deg);
        z-index: 0;
    }
}

@keyframes unfold {
    from {
        transform: rotateX(180deg);
        z-index: 0;
    }
    to {
        transform: rotateX(0deg);
        z-index: 10;
    }
}