.navbar-nav > li > a {
    background: #1b1b1b;
    border: #2cc3fd solid 2px;
    display: inline-block;
    width: 100%;
    color: white;
    transition: color .5s ease;
}

.navbar-nav > li > a:hover { color: #2cc3fd }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #222222;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
    color: #1b1b1b;
    background: #2cc3fd;
}

.navbar-nav > li > a:hover { color: #2cc3fd }

#top, #bottom, #left, #right {
	background: #2cc3f0;
	position: fixed;
    z-index: 999999999;
}

#left, #right {
    top: 0; bottom: 0;
    width: 2px;
}

#top, #bottom {
    left: 0; right: 0;
	height: 2px;
}

#left { left: 0 }
#right { right: 0 }
#top { top: 0 }
#bottom { bottom: 0 }
