.progress {
    position: relative;
    background-color: #222;
    margin: 10px;
    height: 5vh;
    font-size: 3vh;
}

.progress-bar {
    background-color: #2a9fd6;
}

.progress-bar-success {
    background-color: #77b300;
}

.progress-bar-info {
    background-color: #9933cc;
}

.progress-bar-warning {
    background-color: #ff8800;
}

.progress-bar-danger {
    background-color: #cc0000;
}

.progress > .progress-type {
	position: absolute;
	left: 0;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}

.progress > .progress-completed {
	position: absolute;
	right: 0;
	font-weight: 800;
	padding: 3px 10px 2px;
}