.progress {
    position: relative;
    background-color: #333;
    margin: 10px;
    height: 5vh;
    font-size: 3vh;
}

.progress > .progress-type {
	position: absolute;
	left: 0;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, .2);
}

.progress > .progress-completed {
	position: absolute;
	right: 0;
	font-weight: 800;
	padding: 3px 10px 2px;
}