@font-face {
    font-family: "AnonymousProRegular";
    src: url("../fonts/AnonymousPro.eot");
    src: url("../fonts/AnonymousPro.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AnonymousPro.woff") format("woff"),
    url("../fonts/AnonymousPro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: #000;
}

html, body {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #888;
    height: 100%;
    width: 100%;
    font-family: "Anonymous Pro", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Anonymous Pro", sans-serif;
}

h3 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.bg img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.section {
    display: flex;
    background: #1b1b1b;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    min-height: 300px;
    height: 80vh;
}

.welcome {
    text-align: center;
    margin: 0 auto;
}

.welcome-text {
    font-size: 5vh;
    color: white;
}

.username {
    font-size: 5vh;
    color: #2a9fd6;
}

.sect-text {
    font-size: 5vh;
    color: white;
    text-align: center;
}

.my-photo {
    max-height: 70vh;
    max-width: 100%;
}

.mail-div {
    margin-left: 0;
    margin-right: 0;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -30px;
}

.footer, .push {
    text-align: center;
	height: 30px;
    color: #2cc3fd;
}

.footer {
    width: 300px;
    margin: auto;
}

.menu-toggle {
    padding-left: 20px;
    float: left;
    color: #2cc3fd;
    text-align: center;
    border: #2cc3fd solid 1px;
}

.tile {
    margin: 10px;
    padding: 10px;
    background: #1b1b1b;
}

.img-link {
    margin: auto;
    cursor: pointer;
    transition: opacity .5s ease;
}

.visits {
    transition: transform 1s ease;
    z-index: 13;
    border-radius: 10px;
    color: #000;
    padding: 20px;
    top: -170px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 270px;
    height: 170px;
    background-color: #fff;
    display: none;
    position: relative;
}

.visits h1, h4 {
    color: #000;
}

.visits p {
    text-align: left;
}

.copyright:hover ~ .visits, .visits:hover {
    display: block;
}

.copyright:hover {
    text-decoration: underline;
}

.visits-link > img {
    opacity: .8;
}

.visits-link:hover > img {
    opacity: 1;
}

.copyright {
    position: relative;
    text-align: center;
    z-index: 9;
}

.validators {
    width: 100%;
}

.validators a {
    text-decoration: none;
}

.value-name {
    color: #1e789f;
    margin-right: 10px;
}

.value-value {
    float: right;
}

.list-item {
    list-style: none;
}

.list {
    padding: 0;
}

.margin-bot-top {
    margin: 20px 0;
    background: #1b1b1b;
}

.shadowed { box-shadow: 0 0 10px rgba(0, 0, 0, .8) }

.bord { border: #2cc3fd solid 1px }

.light-bord { border: #124961 solid 1px }

.bord-2 { border: #2a9fd6 solid 2px }

.mail { float: right }

.img-par { text-align: center }

.img-link:hover { opacity: 1 }

.img-link { opacity: 1 }

.img-link:hover { opacity: .5 }

.typewriter { text-align: center }

.thumb { margin-bottom: 30px }

.js { display: none }

@media (min-width: 992px) { .column { min-height: 560px } }

@media (max-width: 992px) { .my-div { display: none } }
