<div class="form-area" onload="">
    <form>
        <br/>
        <div class="row">
            <h3 class="head">Написать мне</h3>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control"
                           id="name"
                           name="name"
                           title="Как звать то?"
                           placeholder="Имя" required>
                </div>
                <div class="form-group">
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           class="form-control"
                           id="email"
                           name="email"
                           title="Почта какая-то неправильная"
                           placeholder="Почта" required>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            placeholder="Что вы хотите мне сказать?"
                            title="Пусто же"
                            maxlength="120" rows="7" required>
                    </textarea>
                    <span class="help-block js"><p id="characterLeft" class="help-block">Всё, хватит</p></span>
                    <span class="help-block alt"><p>Максимальная длина сообщения - 120</p></span>
                </div>
            </div>
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Послать</button>
        </div>
    </form>
</div>
