<div class="form-area">
    <form>
        <br/>
        <div class="row">
            <h3 class="head">Написать мне</h3>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <input class="form-control"
                           id="name"
                           name="name"
                           placeholder="Как звать?" required>
                </div>
                <div class="form-group">
                    <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="Какая почта?" required>
                </div>
            </div>
            <div class="col-md-12 col-sm-6">
                <div class="form-group">
                    <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            placeholder="Что вы хотите мне сказать?"
                            maxlength="120" rows="7" required></textarea>
                    <p id="characterLeft" class="help-block"><span class="help-block js">Всё, хватит</span></p>
                    <p><span class="help-block alt">Максимальная длина сообщения - 120</span></p>
                </div>
            </div>
            <button type="submit" id="submit" name="submit" class="btn btn-primary">Послать</button>
        </div>
    </form>
</div>
