{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Екатеринбург<br />
    <abbr title="Номер телефона">Т:</abbr>8-922-170-10-52
</address>

<address>
    <strong>Google:</strong>   <a href="mailto:dstarkdev@gmail.com">dstarkdev@gmail.com</a><br />
    <strong>Яндекс:</strong>   <a href="mailto:Dima.Stark97@yandex.ru">Dima.Stark97@yandex.ru</a><br />
    <strong>Моя любимая:</strong> <a href="mailto:fun@li.ru">fun@li.ru</a>
</address>

{% endblock %}
