{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

    <div class="section bord tile row">
        <div class="col-md-12 typewriter welcome">
            <p class="welcome-text" id="typer"></p>
        </div>
        <div class="col-md-12 alt welcome">
            <p class="welcome-text">Добро пожаловать на мой скромный сайт.</p>
        </div>
    </div>
    <div class="section bord tile row">
        <div class="col-md-6 my-div">
            <div class="row">
                <img class="my-photo" src="{% static 'app/images/me.png' %}">
            </div>
        </div>
        <div class="col-md-6">
            <p class="sect-text">
                Меня зовут Дима Старков
                и я почти "full-stack" разработчик &#128516;
            </p>
        </div>
    </div>
    <div class="section bord tile row">
        <div class="col-md-6">
            <p class="sect-text">
                Так же я студент <a href="https://vk.com/math_mech">МатМеха</a>
            </p>
        </div>
    </div>
    <div class="section bord tile row">
        <div class="col-xs-8 center-block">
            <p class="sect-text">Что я могу?</p>
            <br/>
            {% include 'skills.html' %}
        </div>
    </div>


{% endblock %}
