{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12 typewriter">
            <p id="typer"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>Тут тоже</h2>
            <p>Совсем пусто</p>
        </div>
        <div class="col-md-3">
            <h2>Я не вру</h2>
            <p>
                Совсем-совсем пусто
            </p>
        </div>
        <div class="col-md-3">
            <h2>Тут тоже</h2>
            <p>Совсем пусто</p>
        </div>
        <div class="col-md-3">
            <h2>Я не вру</h2>
            <p>
                Совсем-совсем пусто
            </p>
        </div>
    </div>

{% endblock %}
