{% extends "layout.html" %}
{% load staticfiles %}

{% block references %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/login.css' %}" />
{% endblock %}

{% block content %}

    <div class="row">
        <div class="login-wrap">
            <input type="radio" name="reg-or-log" id="is-register" class="reg-checkbox" {% if error %}checked{% endif %}>
            <input type="radio" name="reg-or-log" id="is-login" class="login-checkbox">
            <div class="col-xs-10 col-md-8 col-lg-6 tile border login-tile">
                <h2>{{ title }}</h2>
                <form action="/login/" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <hr />
                    <div class="form-group">
                        <label for="id_username" class="col-xs-2 control-label">Логин</label>
                        <div class="col-xs-10">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-xs-2 control-label">Пароль</label>
                        <div class="col-xs-10">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <input type="submit" value="Вход" class="btn btn-primary" />
                        </div>
                    </div>
                    {% if form.errors %}
                        <p class="validation-summary-errors">Что-то не то.</p>
                    {% endif %}
                </form>
                <label for="is-register" class="reg-label">Ещё не зарегались?</label>
            </div>
            <div class="col-xs-10 col-md-8 col-lg-6 tile border register-tile">
                <h2>Регистрация</h2>
                <form action="/register/" method="post" class="form-horizontal">
                    <hr />
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_nick" class="col-xs-2 control-label">Логин</label>
                        <div class="col-xs-10">
                            {{ registration_form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pass_1" class="col-xs-2 control-label">Пароль</label>
                        <div class="col-xs-10">
                            {{ registration_form.password1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_pass_2" class="col-xs-2 control-label">Пароль</label>
                        <div class="col-xs-10">
                            {{ registration_form.password2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-10">
                            <input type="submit" value="Зарегестрироваться" class="btn btn-primary" />
                        </div>
                    </div>
                    {% if error %}
                        <p class="validation-summary-errors">{{ error }}</p>
                    {% endif %}
                </form>
                <label for="is-login" class="login-label">Войти</label>
            </div>
        </div>
    </div>
{% endblock %}