{% extends "layout.html" %}

{% block content %}

    <h2 style="text-align: center">{{ title }}.</h2>
    <h3 class="hit-the-floor">{{ message }}</h3>

    <p style="text-align: center">{{ additional }}</p>

{% endblock %}

<div class="bord tile row social-likes">
                <div class="col-md-2 col-xs-6 facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
                <div class="col-md-2 col-xs-6 twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
                <div class="col-md-2 col-xs-6 vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
                <div class="col-md-2 col-xs-6 plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
            </div>